<ul class='docs-list'>
  <li>
    <a href="/product_reviews/installation">Installation</a>
  </li>
  <li>
    <a href="/product_reviews/customize_widget">Customizing the Reviews Widget</a>
  </li>
  <li>
    <a href="/product_reviews/customize_badge">Customizing the Badge</a>
  </li>
  <li>
    <a href="/product_reviews/review_requests">Review Requests</a>
  </li>
  <li>
    <a href="/product_reviews/import_export">Import/Export Reviews</a>
  </li>
  <li>
    <a href="/product_reviews/faq">FAQs & Tutorials <em>(coming soon)</em></a>
  </li>
  <li>
    <a href="/product_reviews/Support">Support</a>
  </li>
</ul>
