

body { padding:0; margin:0; background: url("/images/noisy.png") top left repeat; overflow:hidden; min-width:980px; min-height:500px }

p, a { text-shadow: #f8f8f8 0 1px 1px; }

#logo { position: absolute; width: 500px; height: 350px; top: 50%; left: 50%; margin-left: -250px; margin-top: -250px; }

#footer { position:absolute; top:50%; margin-top: 125px; text-align:center; width:100% }
#footer a { color: #666; }

div.logo { display:block; position:relative; padding:0; margin:0; width: 100%; height: 100%; overflow:hidden; 
  background: url(/images/logo-v2.png) center 40% no-repeat; }

#contact-us { display:block; position:relative; top: 50%; text-align:center; margin-top: 125px; color: #666; }