

body { background: url("/images/noisy.png") top left repeat }

p, a { text-shadow: #f8f8f8 0 1px 1px; }

#logo { position: absolute; width: 500px; height: 350px; top: 50%; left: 50%; margin-left: -250px; margin-top: -250px; }

#footer { position:absolute; top:50%; margin-top: 125px; text-align:center; width:100% }
#footer a { color: #666; }

