---
---

body { 
  padding:0; 
  margin:0; 
  background: #f5f6f7;
  overflow:hidden; 
  min-height:500px 
}

div.logo { 
  display:block; 
  position:relative; 
  padding:0; margin:0 auto; overflow:hidden; 
  text-align:center;
  padding: 150px 0;
}

#logo {text-align:center;}
.c { text-align:center !important;}
.thumbnail { display:inline-block }


.apps {
  display:block;
  position:relative;
  text-align:center;
}
